name: Tests

on:
  # Run for every direct push to main
  push:
    branches: [ main ]
  # Run for every PR targeting main
  pull_request:
    branches: [ main ]
  # Run daily to see if GitHub has changed the ETag algorithm
  schedule:
    - cron: '0 0 * * *'

jobs:
  e2e:
    name: E2E
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'e2e/go.mod'
      
      - name: Run tests
        working-directory: e2e
        run: go test -v .
        env:
          GH_TOKEN_ALPHA: ${{ secrets.GH_TOKEN_ALPHA }}
          GH_TOKEN_BETA: ${{ secrets.GH_TOKEN_BETA }}
          GH_TOKEN_GAMMA: ${{ secrets.GH_TOKEN_GAMMA }}
          GH_APP_ALPHA_CLIENT_ID: ${{ vars.GH_APP_ALPHA_CLIENT_ID }}
          GH_APP_ALPHA_INSTALLATION_ID: ${{ vars.GH_APP_ALPHA_INSTALLATION_ID }}
          GH_APP_ALPHA_PRIVATE_KEY: ${{ secrets.GH_APP_ALPHA_PRIVATE_KEY }}
          GH_APP_BETA_CLIENT_ID: ${{ vars.GH_APP_BETA_CLIENT_ID }}
          GH_APP_BETA_INSTALLATION_ID: ${{ vars.GH_APP_BETA_INSTALLATION_ID }}
          GH_APP_BETA_PRIVATE_KEY: ${{ secrets.GH_APP_BETA_PRIVATE_KEY }}
          GH_APP_GAMMA_CLIENT_ID: ${{ vars.GH_APP_GAMMA_CLIENT_ID }}
          GH_APP_GAMMA_INSTALLATION_ID: ${{ vars.GH_APP_GAMMA_INSTALLATION_ID }}
          GH_APP_GAMMA_PRIVATE_KEY: ${{ secrets.GH_APP_GAMMA_PRIVATE_KEY }}
          GH_OAUTH_ALPHA_CLIENT_ID: ${{ vars.GH_OAUTH_ALPHA_CLIENT_ID }}
          GH_OAUTH_ALPHA_CLIENT_SECRET: ${{ secrets.GH_OAUTH_ALPHA_CLIENT_SECRET }}
          GH_OAUTH_BETA_CLIENT_ID: ${{ vars.GH_OAUTH_BETA_CLIENT_ID }}
          GH_OAUTH_BETA_CLIENT_SECRET: ${{ secrets.GH_OAUTH_BETA_CLIENT_SECRET }}
          GH_OAUTH_GAMMA_CLIENT_ID: ${{ vars.GH_OAUTH_GAMMA_CLIENT_ID }}
          GH_OAUTH_GAMMA_CLIENT_SECRET: ${{ secrets.GH_OAUTH_GAMMA_CLIENT_SECRET }}

  tests:
    name: "Tests"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      
      - name: Run tests
        run: |
          find . -name go.mod -print0 | xargs -0 dirname | xargs -I {} go -C {} test -v ./...
